# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store
.ipynb_checkpoints/
.snakemake

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
tags
.vscode

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files

# Per-project virtualenvs
.venv*/

# Plots
*.pdf

# Temporary workflow files
working_directory/*

# Outputs
results/*
*.png
costs/discount_rate_capital.xlsx
costs/discount_rate_operational.xlsx
costs/OSeMBE_TotalCosts.xlsx
costs/CapitalCost/DiscountedCapitalInvestment_WP5_OPT-MIX_LimBio.xlsx
costs/CapitalCost/DiscountedCapitalInvestment_WP5_OPT-MIX_LimCCS.xlsx
costs/CapitalCost/DiscountedCapitalInvestment_WP5_OPT-MIX_LimNuc.xlsx
costs/CapitalCost/DiscountedCapitalInvestment_WP5_OPT-MIX_LimRES.xlsx
costs/CapitalCost/DiscountedCapitalInvestment_WP5_OPT-MIX.xlsx
costs/DiscountedEmissionsByCountry/Emissions_WP5-OPT-MIX_LimBio.xlsx
costs/DiscountedEmissionsByCountry/Emissions_WP5-OPT-MIX_LimCCS.xlsx
costs/DiscountedEmissionsByCountry/Emissions_WP5-OPT-MIX_LimNuc.xlsx
costs/DiscountedEmissionsByCountry/Emissions_WP5-OPT-MIX_LimRES.xlsx
costs/DiscountedEmissionsByCountry/Emissions_WP5-OPT-MIX.xlsx
costs/FixedCost/DiscountedFixedCost_WP5_OPT-MIX_LimBio.xlsx
costs/FixedCost/DiscountedFixedCost_WP5_OPT-MIX_LimCCS.xlsx
costs/FixedCost/DiscountedFixedCost_WP5_OPT-MIX.xlsx
costs/FixedCost/DiscountedFixedlCost_WP5_OPT-MIX_LimNuc.xlsx
costs/FixedCost/DiscountedFixedlCost_WP5_OPT-MIX_LimRES.xlsx
costs/TotalOperationalCost/TotalOperationalCost_WP5_OPT_MIX_LimBio.xlsx
costs/TotalOperationalCost/TotalOperationalCost_WP5_OPT_MIX_LimCCS.xlsx
costs/TotalOperationalCost/TotalOperationalCost_WP5_OPT_MIX_LimNuc.xlsx
costs/TotalOperationalCost/TotalOperationalCost_WP5_OPT_MIX_LimRES.xlsx
costs/TotalOperationalCost/TotalOperationalCost_WP5_OPT_MIX.xlsx
costs/VariableCost/DiscountedVariableCost_WP5_OPT-MIX_LimBio.xlsx
costs/VariableCost/DiscountedVariableCost_WP5_OPT-MIX_LimCCS.xlsx
costs/VariableCost/DiscountedVariableCost_WP5_OPT-MIX_LimNuc.xlsx
costs/VariableCost/DiscountedVariableCost_WP5_OPT-MIX_LimRES.xlsx
costs/VariableCost/DiscountedVariableCost_WP5_OPT-MIX.xlsx
snakefile
snakefile
