# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store
.ipynb_checkpoints/
.snakemake

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
tags
.vscode

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files

# Per-project virtualenvs
.venv*/

# Plots
*.pdf

# Temporary workflow files
working_directory/*

# Outputs
results/*
*.png
costs/*.xlsx
costs/*/*.xlsx
snakefile
